.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.classpath/*
.settings/*
.project/*
.cache/*
*.gradle
*.log
.classpath/
.settings/
.project/
.chace/

Runner.grooovy
appium.log