.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.classpath/*
.settings/*
.project/*
.cache/*
*.gradle
*.log
.classpath/
.settings/
.project/
.cache/

/Runner.groovy
/appium.log
/Mobile_Secondhand.prj